{% extends 'layout.html' %}

{% block head %}

{% if not results %}
<script src="{{ url_for('static', filename='queue.js') }}"></script>
{% endif %}

{% endblock %}

{% block title %}
Image Search
{% endblock %}

{% block content %}
{% if not results %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Search Image Status</h5>
            <div class="card">
                <div class="card-body">
                    <form action="/image" method="post">
                        <div class="form-group">
                            <label for="imagesearch">List style colors</label>
                            <textarea name="style_colors" row="6" id="imagesearch" class="form-control"
                                placeholder="eg. LW5CFBA-041971"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" id="queue">
    <!-- <div class="row">
        <div class="col">
            <h5>Queue</h5>

            {% for task in tasks %}

            <div class="card">
                <div class="card-body">
                    <h6 class="{{ task.status }}Ids" id="{{ task.task_id }}">{{ task.task_id }}</h6>
                    <small class="text-muted d-block">Status: <span
                            class='{{ task.status }}'>{{ task.status }}</span></small>
                    <small class="text-muted d-block">Created at: {{ task.start_at }}</small>
                    <small class="text-muted d-block">Finished at: {{ task.finish_at }}</small>
                    <small class="text-muted d-block"><a href=' /image/{{ task.task_id }}'>View
                            Results</a></small>
                </div>
            </div>

            {% endfor %}

        </div>
    </div> -->
</div>
{% endif %}

{% if results %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Results</h5>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result['style'] }}</td>
                        <td class="stat{{result['status']}}">
                            <a href="{{result['url']}}">
                                {{ result['status_read'] }}
                            </a>    
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}