{% extends 'layout.html' %}

{% block title %}
Digital Tools
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='demo.js') }}"></script>

<div class="container">
    <div class="row">
        <div class="col-md-5 p-lg-5 mx-auto my-2">
            <div class="position-relative overflow-hidden text-center">
                <div class="col-lg-12">
                    <h1 class="display-4 font-weight-normal">Digital Tools</h1>
                    <p class="lead font-weight-normal">Automate processes, get real time instant results, assure quality, find bugs and errors, and drive business
                        growth.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 bg-light text-center overflow-hidden pt-5 pb-5 vh-80">
            <h2 class="display-5">Real-time image status</h2>
            <p class="lead">Check if images exists in Scene7.<br>Check hundreds of styles for their image statuses in one go.</p>
            <p class="lead">Try Demo:</p>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Copied!"
                id="stylebutton">
                Sample Style Colors
            </button>
            <input type="text" id="samplestyle" value="LW5BL7A-0001 LM3BL6S-039776 LM1234S-012345">
        </div>
        <div class="col-4 bg-dark text-center text-white overflow-hidden pt-5 pb-5 vh-80">
            <h2 class="display-5">PDP details</h2>
            <p class="lead">Check Staging and Production PDPs.<br>QA everything guests see from price, number of
                images
                to
                description.</p>
            <p class="lead">Try Demo:</p>
            <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Copied!"
                id="pdpbutton">
                Sample PDPs and SKUs
            </button>
            <input type="text" id="samplepdp" value="prod140003 3831961">
        </div>
        <div class="col-4 bg-light text-center overflow-hidden pt-5 pb-5 vh-80">
            <h2 class="display-5">IDs on CDPs</h2>
            <p class="lead">Check ordering and naming of products.<br>Find all guests facing
                Masters on
                a
                CDP or Search Result Page.</p>
            <p class="lead">Try Demo:</p>
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Copied!"
                id="cdpbutton">
                Sample CDP
            </button>
            <div display="none">
                <input type="text" id="samplecdp"
                    value="https://www.lululemon.com.hk/en-hk/c/women-collections-womens-whats-new/women-collections-whats-new/">
            </div>
        </div>
    </div>
</div>

{% endblock %}