{% extends 'layout.html' %}

{% block head %}
<script src="{{ url_for('static', filename='queue.js') }}"></script>
{% endblock %}

{% block title %}
PDP Search
{% endblock %}


{% block content %}
<script src="{{ url_for('static', filename='siteenv.js') }}"></script>

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Search Masters or SKU PDP Data</h5>
            <div class="card">
                <div class="card-body">
                    <form action="#" method="post"> 
                        <!-- took out action /pdp -->
                        <div class="form-group">
                            <label for="pdpsearch">List masters or SKUs</label>
                            <textarea name="masters" row="6" id="pdpsearch" class="form-control"
                                placeholder="eg. LW5CFBA&#10;114827428"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="siteselection">Select site</label>
                            <select class="form-control" name="site" id="siteselection">
                                <option value="" selected disabled>Choose site...</option>
                                <option value="HK">HK</option>
                                <option value="JP">JP</option>
                                <option value="AU">AU</option>
                                <option value="UK">UK</option>
                                <option value="EU">EU</option>
                                <option value="FR">FR</option>
                                <option value="DE">DE</option>
                            </select>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Select environment:</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="siteEnv" id="prodEnv" value="production" checked>
                                        <label class="form-check-label" for="prodEnv">
                                            Production
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="siteEnv" id="stagEnv" value="staging">
                                        <label class="form-check-label" for="stagEnv">
                                            Staging
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-- modal for staging info -->
                        <div class="modal fade" id="stagEnvInfo" tabindex="-1" role="dialog" aria-labelledby="stagEnvInfo"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="stagEnvInfo">Staging info</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        
                                        {% if user %}
                                            <div class="form-group">
                                                <label for="email" class="col-form-label">Email:</label>
                                                <input type="text" class="form-control" name="email" id="email" value = {{ user.email }}>
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-form-label">Password:</label>
                                                <input type="password" class="form-control" name="password" id="password" value = {{ user.password }}></input>
                                            </div>
                                            <div class="form-group">
                                                <label for="date" class="col-form-label">Date:</label>
                                                <input type="date" class="form-control" name="date" id="date" value = {{ user.date }}></input>
                                            </div>
                                        {% else %}
                                            <div class="form-group">
                                                <label for="email" class="col-form-label">Email:</label>
                                                <input type="text" class="form-control" name="email" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="col-form-label">Password:</label>
                                                <input type="password" class="form-control" name="password" id="password"></input>
                                            </div>
                                            <div class="form-group">
                                                <label for="date" class="col-form-label">Date:</label>
                                                <input type="date" class="form-control" name="date" id="date"></input>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="readyButton" type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of modal -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" id="queue">
    <div class="row">
        <div class="col">
            <h5>Queue</h5>

            {% for task in tasks %}

            <div class="card">
                <div class="card-body">
                    <h6 class="{{ task.status }}Ids" id="{{ task.task_id }}">{{ task.task_id }}</h6>
                    <small class="text-muted d-block">Status: <span class='{{ task.status }}'>{{ task.status }}</span></small>
                    <small class="text-muted d-block">Created at: {{ task.start_at }}</small>
                    <small class="text-muted d-block">Finished at: {{ task.finish_at }}</small>
                    <small class="text-muted d-block"><a href=' /pdp/{{ task.task_id }}'>View
                            Results</a></small>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% if results %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Results</h5>
            {% if info %}
                <small class="text-muted d-block">{{ info.siteEnv }} | {{ info.date }}</small>
            {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Breadcrumb</th>
                            <th scope="col">WWMT</th>
                            <th scope="col">5Fs</th>
                            <th scope="col">Price</th>
                            <th scope="col">Color</th>
                            <th scope="col">Image Count</th>
                            <th scope="col">Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td class="{{result.status}}">{{result.master}}</td>
                            <td><a href="{{result.url}}">{{result.title}}</a></td>
                            <td>{{result.bread}}</td>
                            <td>{{result.wwmt}}</td>
                            <td>{{result.fivef}}</td>
                            <td>{{result.price}}</td>
                            <td>{{result.color}}</td>
                            <td>{{result.img_count}}</td>
                            <td>{{result.size}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}