
<div class="row">
    <div class="col">
        <h5>Queue </h5>
        <button type="button" id="refresh" class="btn btn-outline-primary btn-sm" onclick="myChecking()">Refresh</button>

        {% for task in tasks %}

        <div class="card">
            <div class="card-body">
                <h6 class="{{ task.status }}Ids" id="{{ task.task_id }}">{{ task.task_id }}</h6>
                <small class="text-muted d-block">Status: <span
                        class='{{ task.status }}'>{{ task.status }}</span></small>
                <small class="text-muted d-block">Created at: {{ task.start_at }}</small>
                <small class="text-muted d-block">Finished at: {{ task.finish_at }}</small>
                <small class="text-muted d-block"><a href=' /{{ action }}/{{ task.task_id }}'>View
                        Results</a></small>
            </div>
        </div>

        {% endfor %}

    </div>
</div>